# mysql 
https://mysqlclient.readthedocs.io/user_guide.html

## connect mysql

In [27]:
import MySQLdb 


db = MySQLdb.connect("host", "user", "passwd", "db", use_unicode=True, charset="UTF8")
db.query("""SELECT * FROM APT_REAL limit 1""")
r = db.store_result()
result = r.fetch_row()
result

((1,
  datetime.date(2006, 1, 17),
  29500,
  datetime.date(1983, 1, 1),
  '세종대로23길',
  '',
  '00000',
  '4100190',
  ' 당주동',
  '100',
  '세종',
  93.4,
  '11110',
  '서울특별시 종로구',
  '6'),)

## mysql fetch all to csv

In [54]:
import MySQLdb 
import csv


db = MySQLdb.connect("host", "user", "passwd", "db", use_unicode=True, charset="UTF8")
db.query("""SELECT * FROM APT_REAL WHERE DEALDATE >= '2019-01-01' AND DEALDATE <= '2019-12-31'""")
r = db.store_result()
data = r.fetch_row(maxrows=0)
with open('apt_real/apt_real_2019.csv','w') as out:
    csv_out=csv.writer(out)
    csv_out.writerow(['deal_date', 'deal_amount', 'build_year', 'road_name', 'road_name_bunbun', 'road_name_bunbun', 'roadname_code', 'dong', 'jibun', 'name', 'area', 'region_code', 'district', 'floor'])
    for row in data:
        as_list = list(row)
        as_list[3] = as_list[3].year
        csv_out.writerow(as_list[1:])