In [75]:
import pandas as pd

df = pd.read_json("../data/example00593.json", orient='series')
df.set_index('date', inplace=True, drop=True)
df.head()

            open  high   low  close  volume
date
1997-04-25  1058  1058  1036   1041   77790
1997-04-26  1042  1084  1040   1085   81190
1997-04-28  1102  1102  1084   1094   95340
1997-04-29  1093  1093  1074   1087  131070
1997-04-30  1083  1086  1067   1078  131410

## 최대값

In [56]:
df['close'].max()

91000

## 최대값을 가지고 있는 row(Series)

In [7]:
df.iloc[df['close'].argmax()]

date      2021-01-11 00:00:00
open                    90000
high                    96800
low                     89500
close                   91000
volume               90306177
Name: 5930, dtype: object

## 최소값

In [6]:
df['close'].min()

627

## 최소값을 가지고 있는 row(Series)

In [9]:
df.iloc[df['close'].argmin()]

date      1997-12-24 00:00:00
open                      661
high                      668
low                       627
close                     627
volume                1144450
Name: 197, dtype: object

## 데이터 개수(length)

In [13]:
len(df.index)
df.shape[0]
df[df.columns[0]].count()

6000

## 평균(average)

In [14]:
df['close'].mean()

20090.3915

## 중앙값(median)

In [15]:
df['close'].median()
df['close'].quantile()

13290.0

## 분위(quardrantic)

In [20]:
df['close'].quantile(0.95)

53000.0

## 최빈값(mode)

In [21]:
df['close'].mode()

0    11500
dtype: int64

## 합계(sum)

In [22]:
df['close'].sum()

120542349

## 표준편차(standard deviation)

In [24]:
df['close'].std()

17446.764642696482

## dataframe  describe

In [23]:
df['close'].describe()

count     6000.000000
mean     20090.391500
std      17446.764643
min        627.000000
25%       7160.000000
50%      13290.000000
75%      27480.000000
max      91000.000000
Name: close, dtype: float64

## interquartile_range

In [26]:
df['close'].quantile(0.75)-df['close'].quantile(0.25)

20320.0

## 분산(variance)

In [25]:
df['close'].var()

304389596.4976441

## 공분산(covariance)

In [57]:
df.cov()

                open          high           low         close        volume
open    3.040969e+08  3.070976e+08  3.011257e+08  3.034656e+08  6.950848e+10
high    3.070976e+08  3.102104e+08  3.041265e+08  3.065431e+08  7.057258e+10
low     3.011257e+08  3.041265e+08  2.982408e+08  3.005714e+08  6.862156e+10
close   3.034656e+08  3.065431e+08  3.005714e+08  3.043896e+08  6.947188e+10
volume  6.950848e+10  7.057258e+10  6.862156e+10  6.947188e+10  3.767757e+13

## 상관관계(correlation)

In [58]:
df.corr()

            open      high       low     close    volume
open    1.000000  0.999867  0.999904  0.997444  0.649367
high    0.999867  1.000000  0.999868  0.997582  0.652779
low     0.999904  0.999868  1.000000  0.997583  0.647345
close   0.997444  0.997582  0.997583  1.000000  0.648713
volume  0.649367  0.652779  0.647345  0.648713  1.000000

## 현재 데이터와 이전 데이터 비교하여 변화 비율 구하기

In [76]:
df.close.pct_change()

date
1997-04-25         NaN
1997-04-26    0.042267
1997-04-28    0.008295
1997-04-29   -0.006399
1997-04-30   -0.008280
                ...
2021-04-15    0.001190
2021-04-16   -0.002378
2021-04-19   -0.007151
2021-04-20    0.007203
2021-04-21   -0.015495
Name: close, Length: 6000, dtype: float64

## 전일비와 거래량 상관관계

In [62]:
df['close'].pct_change().corr(df['volume'])

0.009562460307355643